## Example 5.1 Data : Perspiration from 20 healthy females was analyzed.
### X1: tỷ lệ mồ hôi
### X2, X3: ll là hàm lượng natri, và kali

In [1]:
base_path = "/Users/hoapham/Documents/Cá Nhân/Cao Học/Tài liệu học tập/Học Phầnn 1/4. Thống Kê Nhiều Chiều/Project"

In [2]:
setwd(base_path)

In [3]:
path = paste(base_path, "Chapter3/T5-1.dat", sep = "/")

In [4]:
sweat=read.table(path)
sweat

   V1  V2   V3
1  3.7 48.5  9.3
2  5.7 65.1  8.0
3  3.8 47.2 10.9
4  3.2 53.2 12.0
5  3.1 55.5  9.7
6  4.6 36.1  7.9
7  2.4 24.8 14.0
8  7.2 33.1  7.6
9  6.7 47.4  8.5
10 5.4 54.1 11.3
11 3.9 36.9 12.7
12 4.5 58.8 12.3
13 3.5 27.8  9.8
14 4.5 40.2  8.4
15 1.5 13.5 10.1
16 8.5 56.4  7.1
17 4.5 71.6  8.2
18 6.5 52.8 10.9
19 4.1 44.1 11.2
20 5.5 40.9  9.4

In [5]:
dim(sweat)

[1] 20  3

In [6]:
names(sweat)=c("rate","sodium","potas")

In [7]:
(xbar=colMeans(sweat))

  rate sodium  potas
 4.640 45.400  9.965

In [8]:
(mS=cov(sweat))

       rate      sodium   potas
rate    2.879368  10.0100 -1.809053
sodium 10.010000 199.7884 -5.640000
potas  -1.809053  -5.6400  3.627658

In [9]:
(solve(mS))

       rate        sodium       potas
rate    0.58615531 -0.022085719  0.257968742
sodium -0.02208572  0.006067227 -0.001580929
potas   0.25796874 -0.001580929  0.401846765

In [10]:
#xmu=c(4,50,10)
xmu=c(5,55,10)

In [11]:
n=nrow(sweat)
p=ncol(sweat)

In [12]:
(tsq=n*t(xbar-xmu)%*%solve(mS)%*%(xbar-xmu) )

     [,1]
[1,] 9.76791

In [13]:
ctsq=((n-p)/(p*(n-1)))*tsq #giá trị thống kê
ctsq

     [,1]
[1,] 2.913236

In [14]:
c2=qf(.9,p,n-p)# critical value 
c2

[1] 2.437434

In [15]:
c(ctsq,c2)
#cc2=((n-1)*p/(n-p))*qf(.9,p,n-p)
#c(tsq,cc2)# tsq >c2, reject H0 at the 10% level of signification

[1] 2.913236 2.437434